@using Chessinator.Presentation.Authorization
@inherits LayoutComponentBase
@inject AuthenticationStateProvider AuthenticationStateProvider
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">

        <AuthorizeView>
            <Authorized>
                <a href="/" @onclick="(() => LogOut())">Logout</a>
            </Authorized>
            <NotAuthorized>
                <a href="/">Login</a>
            </NotAuthorized>
        </AuthorizeView>
        <a href="https://github.com/SiemLuc/S2-SiemLucassen-Chessinator"></a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>

@code
{
    public void LogOut()
    {
        ((CustomAuthenticationStateProvider)AuthenticationStateProvider).MarkUserAsLoggedOut();
    }
}
