@page "/addTournament"
@inject ITournamentService TournamentService
@inject NavigationManager NavigationManager
<h1>
    Add Article
</h1>

<div class="row">
    <div class="col-md-4">
        <form>
            <div class="form-group">
                <label for="Name" class="control-label">Name</label>
                <input for="Name" class="form-control" @bind-value="@tournament.TournamentName" />
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary" @onclick="CreateTournamentAsync">Save</button>
                <button type="button" class="btn btn-danger" @onclick="Cancel">Cancel</button>
            </div>
        </form>
    </div>
</div>

@code {

    TournamentDto tournament = new TournamentDto();

    protected async Task CreateTournamentAsync()
    {
        await TournamentService.CreateTournamentAsync(tournament.TournamentName);
        NavigationManager.NavigateTo("/tournamentList");
    }

    void Cancel()
    {
        NavigationManager.NavigateTo("/tournamentList");
    }
}