@page "/index"
<AuthorizeView>
    <Authorized>
        <h1>Welcome to Chessinator, @context.User.Identity.Name!</h1>
    </Authorized>
    <NotAuthorized>
        <h1>Welcome to Chessinator! </h1>
        <p>You are not signed in yet, create an user to manage your tournaments!</p>
    </NotAuthorized>
</AuthorizeView>


<h2>Create your own tournament with the following tournament types!</h2>

<br/>
<h3>Swiss-style</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/b8oV2dj4dgU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>A Swiss-system tournament is a non-eliminating tournament format that features a fixed number of rounds of competition, but considerably fewer than for a round-robin tournament; thus each competitor (team or individual) does not play all the other competitors. Competitors meet one-on-one in each round and are paired using a set of rules designed to ensure that each competitor plays opponents with a similar running score, but does not play the same opponent more than once. The winner is the competitor with the highest aggregate points earned in all rounds. All competitors play in each round unless there is an odd number of them. </p>

<h3>Championship Match</h3>

<iframe width="560" height="315" src="https://www.youtube.com/embed/DaJ05Xs8810?start=179" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

<p>In a championship match, the loser against the champion has a second chance to win two times straight from the champion to win the tournament.</p>