@page "/playTournament"
@inject NavigationManager NavigationManager
@inject Blazored.SessionStorage.ISessionStorageService sessionStorage
@inject ITournamentService TournamentService
@inject States.TournamentState TournamentState

<h3>PlayTournament</h3>

@code {

}
